@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple CRUD System example on ASP.NET Core</p>
    <a href="https://github.com/olimeme">My GitHub</a>
</div>
